body {
  background: #000;
}

.container {
  width: 470px;
  height: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow: hidden;
}

.item{
  width: 150px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicator{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  line-height: 30px;
  width: fit-content;
  background-color: #fff;
  border-radius: 5px;
  padding: 0px 8px;
  cursor: pointer;
}